@{    
    ViewBag.title = "About Us";
}

<!-- START PAGE META -->
<div id="page-meta" class="container" dir="rtl" lang="ar">

    <!-- TITLE -->
    <!-- BREDCRUMB -->
    <div dir="rtl" lang="ar">
        <p id="yit-breadcrumb" itemprop="breadcrumb">
            <a class="home" asp-controller="Home" asp-action="Index">الرئيسية</a> &gt;
            <a class="no-link current" asp-controller="Home" asp-action="AboutUs">من نحن</a>
        </p>
    </div>

</div>
<!-- END PAGE META -->

<div class="fullwidth-block" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            <div class="col-md-7 wow fadeInLeft">
                <h2 class="section-title">من نحن</h2>
                @*<figure>
                        <img src="dummy/figure-1.jpg" alt="">
                    </figure>*@

                <p>
                    اول مصنع للمصاصات الورقية الصديقة للبيئة في المملكة العربية السعودية. نفتخر بإمداد السوق المحلي بمصاصة ورقية بديلة للمصاصة البلاستكية التي لها اضرار على البيئة والانسان والكوكب

                    جاءت فكرة المصنع الأخضر للمنتجات الورقية استجابة للحركة المتزايدة بين المستهلكين لتقليل استخدام المواد البلاستيكية خاصة في مصاصات المشروبات الباردة. جميع المواد الخام المستخدمة في صناعة المصاصة الورقية مستوردة من أوروبا، نستورد الورق من شركة متخصصة في صناعة الأوراق.
                </p>

            </div>
            <div class="col-md-4 col-md-push-1 wow fadeInRight">
                <h2 class="section-title">مهمتنا</h2>
                <p>الحفاظ على نظافة بيئتنا، صحتنا ومحيطاتنا </p>


            </div>
        </div>
    </div>

</div>

<div class="fullwidth-block" data-bg-color="#f1f1f1" dir="rtl" lang="ar">
    <div class="container">
        @*<figure class="span-left">
                <img src="~/images/slider/Product1.jpeg" alt="">
            </figure>*@
        <h2 class="section-title">لماذا المصاصة الورقية؟</h2>
        <div class="row">

            <div class="col-md-6">
                <div class="team wow fadeInRight">

                    <p>
                        المصاصة الورقية قابله للتحلل البيولوجي، وتصنع من الورق المعاد تدويره والقائم على الالياف لقش الورق. مما يمكن صناعة الأغذية من تزويد المستهلكين ببديل المصاصة البلاستيكية. ستمكن المواد الورقية الصناع الرئيسين في صناع الأغذية مثل سلاسل الوجبات السريعة والمقاهي من اظهار مستوى عالٍ من التزامهم بحامية البيئة يشكل أفضل.
                    </p>
                    <p>كل المصاصات البلاستيكية موجودة في هذا الكوكب ولم تتحلل ولها تأثيرات على التغييرات المناخية وعلى حياة الانسان والبحار والمحيطات. هذه الحقية المروعة والقاق لشان التلوث البلاستيكي على البيئة ينذر بتغيير في موقف المستهلكين.</p>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="fullwidth-block" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            @*<div class="col-md-4 wow fadeInUp">
                    <h2 class="section-title">Our vision</h2>
                    <p>Inspired to improve the livelihood of our community through responsible tourism.</p>

                </div>*@
            <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                <h2 class="section-title">حقائق:</h2>
                <ol class="circle-list">
                    <li>التلوث البلاستيكي ف المحيط هو مصدر قلق عالمي.</li>
                    <li>لا تحلل المواد البلاستيكية بيولوجياً ولا تحلل بالكامل ابدا</li>
                    <li>	تموت ملايين السلاحف والطيور البحرية وغيرها من الحيوانات البرية كل عام بسبب المضاعفات المرتبطة مباشرة باستهلاك البلاستيك. تشير التقديرات الي ان ما يصل الي ٧٠٪ من الطيور البحرية و٣٠٪ من السلاحف قد ابتلعت نوعا من البلاستيك من المحيط.</li>
                    <li>	قد تكون المصاصات البلاستيكية ضارة بجسم الانسان أيضا. يمكن ان تتسرب مادة البولي بروبلين الى سوائل وتطلق مركبات تؤثر على مستويات الاستروجين، خاصة عند تعرضها للحرارة او المشروبات الحمضية او الأشعة فوق البنفسجية</li>
                </ol>
            </div>
            @*<div class="col-md-4 wow fadeInUp" data-wow-delay=".4s">
                    <h2 class="section-title">WHY CHOOSE US?</h2>
                    <a href="#" class="boxed-link">24/7 On-Safari Support</a>
                    <a href="#" class="boxed-link">Safety & Quality Equipment</a>
                    <a href="#" class="boxed-link">Professional Drivers & Guides</a>
                    <a href="#" class="boxed-link">Limitless Game Driving</a>
                    <a href="#" class="boxed-link">Customized, Total Flexibility & Private Tours</a>
                </div>*@
        </div>
    </div>
</div>
