@{
    ViewBag.title = "About Us";
}

<!-- START PAGE META -->
<div id="page-meta" class="container" dir="rtl" lang="ar">

    <!-- TITLE -->
    <!-- BREDCRUMB -->
    <div dir="rtl" lang="ar">
        <p id="yit-breadcrumb" itemprop="breadcrumb">
            <a class="home" asp-controller="Home" asp-action="Index">الرئيسية</a> &gt;
            <a class="no-link current" asp-controller="Home" asp-action="AboutUs">من نحن</a>
        </p>
    </div>

</div>
<!-- END PAGE META -->

<div class="fullwidth-block" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">

            <div class="row box-title" dir="rtl" lang="ar" style="width:100%">
                <div class="span5">
                    <div class="border-line"></div>
                </div>
                <h3 class="span2">من نحن</h3>
                <div class="span5">
                    <div class="border-line"></div>
                </div>
            </div>

            <div class="col-md-7 wow fadeInLeft">

                <div class="cols-3" dir="rtl" lang="ar">

                    <div class="pricing_box large radius-right" dir="rtl" style="width:100%">
                        <div class="header">
                           
                        </div>
                        <ul dir="rtl" lang="ar">
                            <li dir="rtl" lang="ar" style="font-size: 20px;font-weight: bold;">

                                اول مصنع للمصاصات الورقية الصديقة للبيئة في المملكة العربية السعودية. نفتخر بصنع مصاصة ورقية بديلة للمصاصة البلاستكية التي لها اضرار على البيئة، والانسان، والمحيطات، والبحار.

                            </li>
                            <li style="font-size: 20px;font-weight: bold;">
                                جاءت فكرة المصنع الأخضر للمنتجات الورقية استجابة للحركة المتزايدة بين المستهلكين لتقليل استخدام المواد البلاستيكية خاصة في مصاصات المشروبات الباردة. جميع المواد الخام المستخدمة في صناعة المصاصة الورقية صحية ١٠٠٪.
                            </li>
                        </ul>
                        <p></p>
                    </div>



                </div>
            </div>



            <div class="row box-title" dir="rtl" lang="ar" style="width:100%">
                <div class="span5">
                    <div class="border-line"></div>
                </div>
                <h3 class="span2">لماذا نستخدم المصاصة الورقية </h3>
                <div class="span5">
                    <div class="border-line"></div>
                </div>
            </div>

            <div class="col-md-7 wow fadeInLeft">

                <div class="cols-2" dir="rtl" lang="ar">

                    <div class="pricing_box large radius-right" dir="rtl">
                        <div class="header" style="color: blanchedalmond; background-color: #3e5044;">
                            <span>
                                المصاصات البلاستيكية واحده من أكثر المواد التي يمكن الاستغناء عنها

                            </span>
                        </div>
                        <ul dir="rtl" lang="ar">
                            <li dir="rtl" lang="ar">

                                المصاصة عبارة عن مواد بلاستيكية تُستخدم مرة واحدة ولا يتم إعادة تدويرها حاليًا. ينتهي بهم الأمر في مكب النفايات، أو ما هو أسوأ في مجارينا المائية ومحيطاتنا مع مجموعة متنوعة من المواد البلاستيكية الأخرى.

                            </li>
                            <li>
                                ثم تنقسم إلى جزيئات بلاستيكية دقيقة تلحق الضرر بالحياة البحرية وبنا.
                            </li>
                        </ul>
                        <p></p>
                    </div>

                    <div class="pricing_box large radius-right" dir="rtl">
                        <div class="header">

                        </div>
                        <ul dir="rtl" lang="ar">
                            <li dir="rtl" lang="ar">

                                معا يمكننا منع ملايين المصاصات البلاستيكية من دخول الى بيئتنا. لقد أدى الضغط العام بالفعل الى تغيير العديد من الصناعات في كيفية تشغيل المواد الملوثة ومصادرها وتصنيعها والتخلص منها.

                            </li>
                            <li>
                                تُعتبر المصاصة الورقية الصديقة للبيئة البديل الأخضر الوحيد القابل للتطبيق للمصاصة البلاستيكية.
                            </li>
                        </ul>
                        <p></p>
                    </div>

                </div>
            </div>



            @*<div class="clear"></div>*@
        <div class="col-md-7 wow fadeInLeft" dir="rtl" lang="ar">

            <div class="cols-3" dir="rtl" lang="ar">

                <div class="row box-title" dir="rtl" lang="ar" style="width:100%">
                    <div class="span5">
                        <div class="border-line"></div>
                    </div>
                    <h3 class="span2">ما هي مشاكل المصاصة البلاستكية </h3>
                    <div class="span5">
                        <div class="border-line"></div>
                    </div>
                </div>

                <div class="one-fourth" dir="rtl" lang="ar">
                    <img src="~/images/icons/set_icons/error.png" alt="" width="52" height="52" />
                    <div>


                        <span style="font-size: 17px; font-weight: bold; color: brown;">
                            يمكن ان يستغرق البلاستيك من ١٠٠ الي ١٠٠٠ عام ليتحلل في مكب النفايات او المحيط
                        </span>
                    </div>
                </div>

                <div class="one-fourth ">
                    <img src="~/images/icons/set_icons/error.png" alt="" width="52" height="52" />
                    <div>
                        <span style="font-size: 17px; font-weight: bold; color: brown;">
                            تنقسم الى قطع صغيرة تسمى اللدائن الدقيقة وتدخل في السلسلة الغذائية
                        </span>
                    </div>
                </div>

                <div class="one-fourth ">
                    <img src="~/images/icons/set_icons/error.png" alt="" width="52" height="52" />
                    <div>
                        <span style="font-size: 17px; font-weight: bold; color: brown;">
                            تم تصميم اللدائن البترولية لتدوم الى الآبد
                        </span>
                    </div>
                </div>

                <div class="one-fourth last">
                    <img src="~/images/icons/set_icons/error.png" alt="" width="52" height="52" />
                    <div>
                        <span style="font-size: 17px; font-weight: bold; color: brown;">
                            تُصنع المصاصة البلاستيكية من المنتجات البترولية وتصنيعها يلوث الأرض
                        </span>
                    </div>
                </div>

            </div>
        </div>

                @*<div style="clear:both"></div>*@
            </div>
        </div>

</div>



