@{    
    ViewBag.title = "About Us";
}

<!-- START PAGE META -->
<div id="page-meta" class="container" dir="rtl" lang="ar">

    <!-- TITLE -->
    <!-- BREDCRUMB -->
    <div dir="rtl" lang="ar">
        <p id="yit-breadcrumb" itemprop="breadcrumb">
            <a class="home" asp-controller="Home" asp-action="Index">الرئيسية</a> &gt;
            <a class="no-link current" asp-controller="Home" asp-action="AboutUs">من نحن</a>
        </p>
    </div>

</div>
<!-- END PAGE META -->

<div class="fullwidth-block" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            <div class="col-md-7 wow fadeInLeft">
                <h2 class="section-title">من نحن</h2>
                @*<figure>
            <img src="dummy/figure-1.jpg" alt="">
        </figure>*@

                <p>
                    اول مصنع للمصاصات الورقية الصديقة للبيئة في المملكة العربية السعودية. نفتخر بإمداد السوق المحلي بمصاصة ورقية بديلة للمصاصة البلاستكية التي لها اضرار على البيئة، الانسان، والمحيطات والبحار.
                </p>
                <p>
                    جاءت فكرة المصنع الأخضر للمنتجات الورقية استجابة للحركة المتزايدة بين المستهلكين لتقليل استخدام المواد البلاستيكية خاصة في مصاصات المشروبات الباردة. جميع المواد الخام المستخدمة في صناعة المصاصة الورقية مستوردة من أوروبا، نستورد الورق من شركة متخصصة في صناعة الأوراق.
                </p>

                <p>
                    ومنتجات اخري قريباً
                </p>

            </div>
            @*<div class="col-md-4 col-md-push-1 wow fadeInRight">
                <h2 class="section-title">مهمتنا</h2>
                <p>الحفاظ على نظافة بيئتنا، صحتنا ومحيطاتنا </p>


            </div>*@
        </div>
    </div>

</div>

<div class="fullwidth-block" data-bg-color="#f1f1f1" dir="rtl" lang="ar">
    <div class="container">
        @*<figure class="span-left">
                <img src="~/images/slider/Product1.jpeg" alt="">
            </figure>*@
        <h2 class="section-title">لماذا نستخدم المصاصة الورقية </h2>
        <div class="row">

            <div class="col-md-6">
                <div class="team wow fadeInRight">
                    <p>
                        معا يمكننا منع ملايين المصاصات البلاستيكية من دخول بيئتنا. لقد أدى الضغط العام بالفعل الى تغيير العديد من الصناعات في كيفية تشغيل المواد الملوثة ومصادرها وتصنيعها والتخلص منها.
                    </p>
                    
                </div>
            </div>

        </div>
    </div>
</div>

<div class="fullwidth-block" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            @*<div class="col-md-4 wow fadeInUp">
            <h2 class="section-title">Our vision</h2>
            <p>Inspired to improve the livelihood of our community through responsible tourism.</p>

        </div>*@
            <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                <h2 class="section-title">البيئة</h2>
                <ol class="circle-list-">
                    <li>تُعتبر المصاصة الورقية الصديقة للبيئة البديل الأخضر الوحيد القابل للتطبيق للمصاصة البلاستيكية</li>
                    <li>كن صديقا للمحيطات وقلل من تأثيرنا السلبي على الكوكب</li>
                    <li>باستخدام المصاصات الورقية سنمنع البلاستيك من دخول البيئة وربما الي سلسلة الغذاء لدينا </li>

                </ol>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                <h2 class="section-title">المستهلكون </h2>
                <ol class="circle-list-">
                    <li>تزايد عدد المستهلكين المهتمين بالبيئة مع زيادة الطلب العام على الاستدامة الأخلاقية</li>
                    <li>ازداد الضغط العام عن التوقف للمواد البلاستيكية ذات الاستخدام الواحد</li>
                    <li>يتجه المستهلكون نحو تجنب المنتجات بناءاً على سمعة الشركة المسؤولة </li>

                </ol>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                <h2 class="section-title">الامتثال والمعايير</h2>
                <p>المصاصة الورقية هي مصاصة قابلة للتحلل ومن مصادر مُستدامة</p>
                <p>
                    <span>&#8226;</span>
                    <b>
                        ١٠٠٪ غير سامة
                    </b>
                </p>
                <p>جميع المواد بما في ذلك الاحبار والمواد اللاصقة المستخدمة في المصاصة الورقية لدينا هي ١٠٠! غير سامة</p>

                <p>
                    <span>&#8226;</span> <b>مصممة لعمر طويل</b>	 
                </p>
                <p>

                    تم تصميم المصاصة الورقية باستخدام ١/٣ في المتوسط من المواد الإضافية لتوفير القوة والمتانة. لقد اختبرنا المصاصات في مجموعة متنوعة من المرطبات

                </p>
            </div>

        </div>
    </div>
</div>

<div class="fullwidth-block" data-bg-color="#f1f1f1" dir="rtl" lang="ar">
    <div class="container">
       
        <h2 class="section-title">المصاصات البلاستيكية واحده من أكثر المواد التي يمكن الاستغناء عنها</h2>
        <div class="row">

            <div class="col-md-6">
                <div class="team wow fadeInRight">
                    <p>
                        المصاصة عبارة عن مواد بلاستيكية تُستخدم مرة واحدة ولا يتم إعادة تدويرها حاليًا.

                        ينتهي بهم الأمر في مكب النفايات، أو ما هو أسوأ في مجارينا المائية ومحيطاتنا مع مجموعة متنوعة من المواد البلاستيكية الأخرى.

                        ثم تنقسم إلى جزيئات بلاستيكية دقيقة تلحق الضرر بالحياة البحرية وبنا.
                    </p>

                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                <h2 class="section-title">ما هي مشاكل المصاصة البلاستكية </h2>
                <p>
                    •	تُصنع المصاصة البلاستيكية من المنتجات البترولية وتصنيعها يلوث الأرض </p>
                <p>
                    •	تم تصميم اللدائن البترولية لتدوم الى الآبد
                </p>
                <p>
                    •	تنقسم الى قطع صغيرة تسمى اللدائن الدقيقة وتدخل في السلسلة الغذائية
                </p>
                <p>
                    •	يمكن ان يستغرق البلاستيك من ١٠٠ الي ١٠٠٠ عام ليتحلل في مكب النفايات او المحيط
                </p>
            </div>

        </div>
    </div>
</div>
