
            <div class="fullwidth-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 wow fadeInLeft">
                            <h2 class="section-title">Our History</h2>
                            <figure>
                                <img src="dummy/figure-1.jpg" alt="">
                            </figure>

                            <p>
                                Minayad tours Zanzibar is a tour operator company, operated in Zanzibar Island. The company affairs several affordable holidays tour packages and day excursion as well. As well renowned and established in bound tour operator in Zanzibar, it started in 2019 and has the subsequent years building up a successful business that suits the interest, budget and time limits of the clients. The business operates from stone town Zanzibar.
                            </p>

                            <p>
                                Our skilled team in the tourism industry, engaged to share with the world unforgettable memories about the nature, culture and history of Zanzibar.
                            </p>

                            <p>
                                It offers private tours as well a sharing tour to ensure our guests definitely experience what they have planned for in the spice.
                            </p>
                        </div>
                        <div class="col-md-4 col-md-push-1 wow fadeInRight">
                            <h2 class="section-title">Principle</h2>
                            <a href="#" class="boxed-link">Readiness: Team of experienced, knowledgeable, dynamic and passionate personnel.</a>
                            <a href="#" class="boxed-link">Excellence: Seek to improve the services on regular basis.</a>
                            <a href="#" class="boxed-link">Respect: Comply with the client’s needs</a>
                            <a href="#" class="boxed-link">Team Work: maintain harmony between co-workers and responsible to the community and environment we work with</a>
                            

                        </div>
                    </div>
                </div>

            </div>

            <div class="fullwidth-block" data-bg-color="#f1f1f1">
                <div class="container">
                    <h2 class="section-title">Our Team</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="team wow fadeInRight">
                                <figure class="team-image">
                                    <img src="~/images/ibrahim.png" alt="">
                                </figure>
                                <h2 class="team-name">IBRAHIM MOH'D ALI</h2>
                                <small class="team-title">CEO</small>
                                <p>
                                    My name is IBRAHIM MOH'D ALI. and I graduated at State University of Zanzibar (SUZA) as Hospitality as Tour guide course and Tour operator course. I have experience for guiding for 3 years now. I'm local tour guide for Zanzibar excursions and tours  and Tanzania Safaris as well.

                                    make your vocation be unforgettable experience and cheaper price.
                                </p>
                            </div>

                            @*<div class="team wow fadeInRight">
                                <figure class="team-image">
                                    <img src="dummy/person-team-2.jpg" alt="">
                                </figure>
                                <h2 class="team-name">Sarah Smith</h2>
                                <small class="team-title">PR Specialist</small>
                                <p>A gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble</p>
                            </div>*@
                        </div>
                        @*<div class="col-md-6">
                            <div class="team wow fadeInRight" data-wow-delay=".4s">
                                <figure class="team-image">
                                    <img src="dummy/person-team-3.jpg" alt="">
                                </figure>
                                <h2 class="team-name">Steven Blumkin</h2>
                                <small class="team-title">Director</small>
                                <p>A gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble</p>
                            </div>

                            <div class="team wow fadeInRight" data-wow-delay=".4s">
                                <figure class="team-image">
                                    <img src="dummy/person-team-4.jpg" alt="">
                                </figure>
                                <h2 class="team-name">Jessica Webb</h2>
                                <small class="team-title">Consumer Service</small>
                                <p>A gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble</p>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="fullwidth-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 wow fadeInUp">
                            <h2 class="section-title">Our vision</h2>
                            <p>Inspired to improve the livelihood of our community through responsible tourism.</p>
                            
                        </div>
                        <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                            <h2 class="section-title">How does it work?</h2>
                            <ol class="circle-list">
                                <li>In order to achieve our goal being clients’ satisfaction is our priority and providing the personalized services to all of our clients</li>
                                <li>Minayad Tours Zanzibar provides cell phones to all of our Tour guides, driver and representatives at hotel</li>
                                <li>Our office consists of five major departments linked with internal network (internet) for ease communication and information transfer. Departments are as follow.</li>
                            </ol>
                        </div>
                        <div class="col-md-4 wow fadeInUp" data-wow-delay=".4s">
                            <h2 class="section-title">WHY CHOOSE US?</h2>
                            <a href="#" class="boxed-link">24/7 On-Safari Support</a>
                            <a href="#" class="boxed-link">Safety & Quality Equipment</a>
                            <a href="#" class="boxed-link">Professional Drivers & Guides</a>
                            <a href="#" class="boxed-link">Limitless Game Driving</a>
                            <a href="#" class="boxed-link">Customized, Total Flexibility & Private Tours</a>
                        </div>
                    </div>
                </div>
            </div>
       