@{
    ViewBag.title = "About Us";
}

<!-- START PAGE META -->
<div id="page-meta" class="container" dir="rtl" lang="ar">

    <!-- TITLE -->
    <!-- BREDCRUMB -->
    <div dir="rtl" lang="ar">
        <p id="yit-breadcrumb" itemprop="breadcrumb">
            <a class="home" asp-controller="Home" asp-action="Index">الرئيسية</a> &gt;
            <a class="no-link current" asp-controller="Home" asp-action="AboutUs">من نحن</a>
        </p>
    </div>

</div>
<!-- END PAGE META -->

<div class="fullwidth-block" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            <div class="col-md-7 wow fadeInLeft">
                <h2 class="section-title">من نحن</h2>
                <div class="cols-3" dir="rtl" lang="ar">

                    <div class="pricing_box large radius-right">
                        <div class="header">
                            <h3>
                                <img src="~/images/icons/set_icons/new32.png" alt="info" class="icon" width="32" height="32">
                            </h3>
                        </div>
                        <ul>
                            <li>
                                سيتم توفير منتجات اخري قريباً.
                            </li>
                        </ul>
                        <p></p>
                    </div>

                    <div class="pricing_box radius-right" dir="rtl">
                        <div class="header">
                            <h3>
                                <img src="~/images/icons/set_icons/bulb32.png" alt="bulb" class="icon" width="32" height="32">
                            </h3>
                        </div>
                        <ul dir="rtl" lang="ar">
                            <li dir="rtl" lang="ar">

                                جاءت فكرة المصنع الأخضر للمنتجات الورقية استجابة للحركة المتزايدة بين المستهلكين لتقليل استخدام المواد البلاستيكية خاصة في مصاصات المشروبات الباردة.

                            </li>
                            <li>
                                جميع المواد الخام المستخدمة في صناعة المصاصة الورقية مستوردة من أوروبا، نستورد الورق من شركة متخصصة في صناعة الأوراق.
                            </li>
                        </ul>
                        <p></p>
                    </div>

                    <div class="pricing_box radius-right">
                        <div class="header">
                            <h3>
                                <img src="~/images/icons/set_icons/gear32.png" alt="gear" class="icon" width="32" height="32">
                            </h3>
                        </div>
                        <ul dir="rtl" lang="ar">
                            <li dir="rtl" lang="ar">

                                اول مصنع للمصاصات الورقية الصديقة للبيئة في المملكة العربية السعودية.


                            </li>

                            <li>
                                نفتخر بإمداد السوق المحلي بمصاصة ورقية بديلة للمصاصة البلاستكية التي لها اضرار على البيئة، الانسان، والمحيطات والبحار.
                            </li>
                            <li><br /><br /></li>
                        </ul>
                        <p></p>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                </div>
                @*<div class="col-md-5">*@
                <div class="cols-2">
                    <div class="pricing_box radius-right">
                        <div class="header"><h3>البيئة</h3></div>
                        <ul>
                            <li>تُعتبر المصاصة الورقية الصديقة للبيئة البديل الأخضر الوحيد القابل للتطبيق للمصاصة البلاستيكية</li>
                            <li>كن صديقا للمحيطات وقلل من تأثيرنا السلبي على الكوكب</li>
                            <li>باستخدام المصاصات الورقية سنمنع البلاستيك من دخول البيئة وربما الي سلسلة الغذاء لدينا </li>

                        </ul>
                        <p></p>
                    </div>

                    <div class="pricing_box large radius-right">
                        <div class="header"><h3>لماذا نستخدم المصاصة الورقية</h3></div>
                        <ul>


                            <li>معا يمكننا منع ملايين المصاصات البلاستيكية من دخول بيئتنا.</li>
                            <li>لقد أدى الضغط العام بالفعل الى تغيير العديد من الصناعات في كيفية تشغيل المواد الملوثة ومصادرها وتصنيعها والتخلص منها.</li>
                        </ul>
                        <p></p>
                    </div>


                </div>
                @*</div>*@

            </div>

            <div class="one-third">
                <div class="price-table">
                    <div class="head blue">
                        <p style="font-size:small;">المصاصات البلاستيكية واحده من أكثر المواد التي يمكن الاستغناء عنها</p>

                        <h2 class="price"></h2>
                    </div>
                    <div class="body">
                        <ul>


                            <li>المصاصة عبارة عن مواد بلاستيكية تُستخدم مرة واحدة ولا يتم إعادة تدويرها حاليًا</li>
                            <li>ينتهي بهم الأمر في مكب النفايات، أو ما هو أسوأ في مجارينا المائية ومحيطاتنا مع مجموعة متنوعة من المواد البلاستيكية الأخرى</li>
                            <li>ثم تنقسم إلى جزيئات بلاستيكية دقيقة تلحق الضرر بالحياة البحرية وبنا</li>


                        </ul>

                    </div>
                </div>
            </div>
            <div class="one-third">
                <div class="price-table">
                    <div class="head green">
                        <p style="font-size:x-large;">الامتثال والمعايير</p>

                        <h2 class="price"></h2>
                    </div>
                    <div class="body">
                        <ul>


                            <li>المصاصة الورقية هي مصاصة قابلة للتحلل ومن مصادر مُستدامة</li>
                            <li>١٠٠٪ غير سامة</li>
                            <li>جميع المواد بما في ذلك الاحبار والمواد اللاصقة المستخدمة في المصاصة الورقية لدينا هي ١٠٠! غير سامة</li>
                            <li>
                                مصممة لعمر طويل، تم تصميم المصاصة الورقية باستخدام ١/٣ في المتوسط من المواد الإضافية لتوفير القوة والمتانة. لقد اختبرنا المصاصات في مجموعة متنوعة من المرطبات
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="one-third last">
                <div class="price-table">
                    <div class="head yellow">
                        <p style="font-size:x-large;">المستهلكون</p>

                        <h2 class="price"></h2>
                    </div>
                    <div class="body">
                        <ul>
                            <li>تزايد عدد المستهلكين المهتمين بالبيئة مع زيادة الطلب العام على الاستدامة الأخلاقية</li>
                            <li>ازداد الضغط العام عن التوقف للمواد البلاستيكية ذات الاستخدام الواحد</li>
                            <li>يتجه المستهلكون نحو تجنب المنتجات بناءاً على سمعة الشركة المسؤولة </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="clear"></div>

            
            

            <div>
                <div class="price-table">
                    <div class="head red">
                        <p style="font-size:19px;">ما هي مشاكل المصاصة البلاستكية </p>

                        <h2 class="price"></h2>
                    </div>
                    <div class="body">
                        <ul>


                            <li>تُصنع المصاصة البلاستيكية من المنتجات البترولية وتصنيعها يلوث الأرض</li>
                            <li>تم تصميم اللدائن البترولية لتدوم الى الآبد</li>
                            <li>تنقسم الى قطع صغيرة تسمى اللدائن الدقيقة وتدخل في السلسلة الغذائية</li>
                            <li>يمكن ان يستغرق البلاستيك من ١٠٠ الي ١٠٠٠ عام ليتحلل في مكب النفايات او المحيط</li>

                        </ul>

                    </div>
                </div>
            </div>

            <div style="clear:both"></div>
        </div>
    </div>

</div>



