@model Service.DataLayer.ViewModels.EmailInfo
@{
    ViewBag.title = "Contact Us";
}

<!-- START MAP -->
<div id="map">
    <iframe style="width:100%;height:335px;"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3641.5155603192516!2d38.1246903149883!3d24.118525984409256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDA3JzA2LjciTiAzOMKwMDcnMzYuOCJF!5e0!3m2!1sen!2ssa!4v1632066024167!5m2!1sen!2ssa">
    </iframe>

    <div id="map-handler" class="container">
        <a href="#">[x] Close</a>
    </div>
</div>
<!-- END MAP -->
<!-- START PAGE META -->
<div id="page-meta" class="container" dir="rtl" lang="ar">
    
    <!-- BREDCRUMB -->
    <div dir="rtl" lang="ar">
        <p id="yit-breadcrumb" itemprop="breadcrumb">
            <a class="home" asp-controller="Home" asp-action="Index">الرئيسية</a> &gt;
            <a class="no-link current" asp-controller="Home" asp-action="Contact">اتصل بنا</a>
        </p>
    </div>

</div>
<!-- END PAGE META -->
<!-- START PRIMARY -->
<div id="primary" class="sidebar-right" dir="rtl" lang="ar">
    <div class="container group" dir="rtl" lang="ar">
        <div class="row" dir="rtl" lang="ar">
            <!-- START CONTENT -->
            <div id="content-page" class="span9 content group" dir="rtl" lang="ar">
                <div class="page type-page status-publish hentry group" dir="rtl" lang="ar">
                    <h3>اتصل بنا</h3>
                    <p>&nbsp;</p>
                    @if (ViewBag.success != null)
                    {
                        <h3 style="color: green;">@ViewBag.success</h3>
                    }

                    @*<form id="contact-form-contact-form" class="contact-form row" method="post" enctype="multipart/form-data" dir="rtl" lang="ar">*@
                    <form method="post" enctype="multipart/form-data" asp-action="Contact" class="contact-form row" dir="rtl" lang="ar">
                        @*<div class="usermessagea" dir="rtl" lang="ar"></div>*@


                        <fieldset>
                            <ul dir="rtl" lang="ar">
                                <li class="text-field span3">

                                    <label asp-for="Name" style="font-size:large">
                                       
                                    </label>

                                    <div class="input-prepend" dir="rtl" lang="ar">

                                        <input asp-for="Name" type="text" />
                                        <span class="add-on">
                                            <i class="icon-user"></i>
                                        </span>

                                    </div>
                                    <span asp-validation-for="Name" style="color:red;"></span>
                                </li>

                                <li class="text-field span3">
                                    <label asp-for="Email" style="font-size:large">
                                        @*@if (Model != null && !String.IsNullOrEmpty(Model.Email))
                                        {
                                            <span class="mainlabel">البريد الإلكتروني</span>
                                        }*@

                                    </label>
                                    <div class="input-prepend" dir="rtl" lang="ar">
                                        <span class="add-on">
                                            <i class="icon-envelope"></i>
                                        </span>
                                        <input asp-for="Email" type="text" class="required email-validate" />
                                    </div>
                                    <span asp-validation-for="Email" style="color:red;"></span>
                                </li>

                                <li class="text-field span3">
                                    <label asp-for="Phoneumer" style="font-size:large">
                                        
                                    </label>
                                    <div class="input-prepend" dir="rtl" lang="ar">
                                        <span class="add-on">
                                            <i class="icon-phone"></i>
                                        </span>
                                        <input asp-for="Phoneumer" type="text" />
                                    </div>
                                    <span asp-validation-for="Phoneumer" style="color:red;"></span>
                                </li>

                                <li class="textarea-field span9">
                                    <label asp-for="Comments" style="font-size:large">
                                       
                                    </label>
                                    <div class="input-prepend" dir="rtl" lang="ar">
                                        <span class="add-on">
                                            <i class="icon-pencil"></i>
                                        </span>
                                        <textarea asp-for="Comments" rows="8" cols="30"></textarea>
                                    </div>
                                    <span asp-validation-for="Comments" style="color:red;"></span>

                                </li>

                                <li>
                                    @if (ViewBag.success != null)
                                    {
                                    <button type="submit" style="width: 150px;height: 50px;font-size: xx-large;background: #3e5044;color: #efe9c0;" disabled>
                                        ارسال
                                    </button>
                                    }
                                    else
                                    {
                                <button type="submit" style="width: 150px;height: 50px;font-size: xx-large;background: #3e5044;color: #efe9c0;">
                                    ارسال
                                </button>
                                    }

                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </div>

                <!-- START COMMENTS -->
                <!--<div id="comments"></div>-->
                <!-- END COMMENTS -->
            </div>
            <!-- END CONTENT -->
            <!-- START SIDEBAR -->
            <div id="sidebar-contact" class="span3 sidebar group" dir="rtl" lang="ar">
                <div id="contact-info-2" class="widget-first widget contact-info" dir="rtl" lang="ar">
                    <h3>كيفية الاتصال بنا</h3>
                    <div class="sidebar-nav" dir="rtl" lang="ar">
                        <ul>
                            <li>
                                <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                &nbsp;
                                <span>العنوان:</span> الصفا 46414 - ينبع
                            </li>

                            @*<li>

                                <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                &nbsp;
                                <span></span> 553507823 966+

                            </li>*@
                        <li>

                            <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                            &nbsp;
                            <span></span>

                            553507823 966+ | 503172526 966+

                        </li>

                            @*<li>
                                    <i class="icon-print" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                    &nbsp;
                                    <span>الفاكس</span>  555555555 966+
                                </li>*@

                        <li>
                            <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                            &nbsp;
                            <span>البريد الإلكتروني</span> Info@greenfactorysa.com
                        </li>
                        </ul>
                    </div>
                </div>
                <div id="text-2" class="widget-2 widget-last widget widget_text" dir="rtl" lang="ar">
                    <h3>وسائل التواصل الاجتماعي</h3>
                    <div class="textwidget" dir="rtl" lang="ar">

                        <a href="# " class="socials-small facebook-small" title="Facebook"></a>



                        <a href="#" class="socials-small twitter-small" title="Twitter"></a>



                        <a href="#" class="socials-small linkedin-small" title="Linkedin"></a>


                    </div>
                </div>
            </div>
            <!-- END SIDEBAR -->


        </div>
    </div>
</div>
<!-- END PRIMARY -->
<!-- START CUSTOM SCRIPT -->
<script type='text/javascript'>
    var l10n_handler = { "map_close": "[x] Close", "map_open": "[x] Open" };
</script>
<!-- END CUSTOM SCRIPT -->