@{ 
    ViewBag.slide = "yes";
    ViewBag.title = "Home";
}
        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="container group">
                <div class="row">

                    <!-- START CONTENT -->
                    <div id="content-home" class="span12 content group">
                        <div class="page type-page status-publish hentry group">

                            <script>
                                jQuery(document).ready(function ($) {
                                    $('.sidebar').remove();

                                    if (!$('#primary').hasClass('sidebar-no')) {
                                        $('#primary').removeClass().addClass('sidebar-no');
                                        $('.content').removeClass('span9').addClass('span12');
                                    }

                                });
                            </script>

                            <hr />
                            <div class="portfolios type-portfolios status-publish hentry work group row">
                                <div class="work-thumbnail span6">
                                    <div class="thumb-wrapper">
                                        <div class="work-thumbnail">
                                            <div class="picture_overlay_empty picture_overlay">
                                                <img src="~/images/PaperHome002.jpg" alt="004" />
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>

                                <div class="work-description span6" dir="rtl">
                                    <h1>مرحبا بكم في المصنع الأخضر للمنتجات الورقية</h1>
                                    <p style="font-size: 20px;font-weight: bold;">                                    
                                        اول مصنع للمصاصات الورقية الصديقة للبيئة في المملكة العربية السعودية. نفتخر بإمداد السوق المحلي بمصاصة ورقية بديلة للمصاصة البلاستكية التي لها اضرار على البيئة، الانسان، والمحيطات والبحار.                                        
                                    </p>
                                    <p style="font-size: 20px;font-weight: bold;">
                                        جاءت فكرة المصنع الأخضر للمنتجات الورقية استجابة للحركة المتزايدة بين المستهلكين لتقليل استخدام المواد البلاستيكية خاصة في مصاصات المشروبات الباردة. جميع المواد الخام المستخدمة في صناعة المصاصة الورقية مستوردة من أوروبا، نستورد الورق من شركة متخصصة في صناعة الأوراق.
                                    </p>
                                    
                                    <div></div>

                                   
                                </div>
                                <div class="clear"></div>
                            </div>

                            <script type="text/javascript" charset="utf-8">
                                jQuery(document).ready(function ($) {

                                    function isMobile() {
                                        return navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i) || (navigator.userAgent.match(/Android/i) && navigator.userAgent.match(/Mobile/i));
                                    }


                                    if (!isMobile()) {

                                        $('.open_slide').live('click', function (e) {
                                            e.preventDefault();

                                            var li_parent = $(this).parents('li');
                                            var div = li_parent.find('.slide_detail');
                                            if (!div.is(':visible')) {
                                                $('.ch-item').removeClass('ch-item-opened');
                                                li_parent.find('.ch-item').addClass('ch-item-opened');

                                                var slide_opened = $('.slide_detail:visible').length;
                                                var same_row = slide_opened && parseInt($('.slide_detail:visible').parents('li').index() / 5) == parseInt($(this).parents('li').index() / 5);
                                                var description_height = div.find('.work-description').height(); console.log(div.find('.work-description'));

                                                var animation = function (div, li_parent, same_row) {
                                                    $.Deferred(function (def) {
                                                        def.pipe(function () {
                                                            return $('ul#portfolio hr, .slide_detail').slideUp(500);
                                                        }).pipe(function () {
                                                            var offset_y = li_parent.data('isotope-item-position') ?
                                                                li_parent.data('isotope-item-position').y + li_parent.offset().top :
                                                                li_parent.offset().top;

                                                            return $.scrollTo(offset_y - 40, same_row ? 1 : 500, { 'axis': 'y' });
                                                        }).pipe(function () {
                                                            return setTimeout(function () {
                                                                var offset_x = li_parent.data('isotope-item-position') ?
                                                                    li_parent.data('isotope-item-position').x + li_parent.offset().left :
                                                                    li_parent.offset().left;

                                                                div.css({
                                                                    left: -offset_x + $('#wrapper').offset().left,
                                                                    width: $('#wrapper').width()
                                                                }).slideDown(500);
                                                                $(li_parent).nextAll('hr:first').slideDown(500, function () {
                                                                    //recalculate left offset once the slide is opened
                                                                    var offset_x = li_parent.data('isotope-item-position') ?
                                                                        li_parent.data('isotope-item-position').x + li_parent.offset().left :
                                                                        li_parent.offset().left;
                                                                    div.css({
                                                                        left: -offset_x + $('#wrapper').offset().left,
                                                                        width: $('#wrapper').width(),
                                                                        height: div.outerHeight()
                                                                    });

                                                                    $(this).css({
                                                                        height: div.outerHeight()
                                                                    });

                                                                    div.find('.container').css({
                                                                        height: div.outerHeight() - 35
                                                                    });
                                                                });
                                                            }, same_row ? 500 : 1000);
                                                        });
                                                    }).resolve();
                                                };
                                                animation(div, li_parent, same_row);
                                            } else {
                                                div.find('.slide_close').click();
                                            }
                                        });

                                        $('.slide_close').click(function () {
                                            $('.ch-item').removeClass('ch-item-opened');
                                            $(this).parents('.slide_detail').slideUp('slow');
                                            $('ul#portfolio hr').slideUp('slow');
                                        });

                                        $(window).resize(function () {
                                            if (!isIE8()) {
                                                $('.ch-item').removeClass('ch-item-opened');
                                                $('.slide_detail').slideUp('slow');
                                                $('ul#portfolio hr').slideUp('slow');
                                            }
                                        });


                                    }
                                });
                            </script>

                            <p>&nbsp;</p>

                        </div>
                <!-- START COMMENTS -->
                <div id="comments"></div>
                <!-- END COMMENTS -->
            </div>
            <!-- END CONTENT -->
            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->

        </div>
   
<!-- END PRIMARY -->

   
</div>
</div>


        