



<div class="slider">
    <ul class="slides">
        <li data-background="dummy/slide-2.jpg">
            <div class="container">
                <div class="slide-caption col-md-4">
                    <h2 class="slide-title">About Zanzibar</h2>
                    <p>
                        Zanzibar is an archipelago composed of two large beautiful inhabited green duo islands. Unguja and Pemba and 52 uninhabited and inhabited islets. The total land covered area of Zanzibar archipelago is about 2654 square kilometres. it is located on the Indian Ocean of 32 kilometres east of the Tanzania mainland coastline and found between 5 and 7 degrees south of the equator.
                    </p>
                </div>
            </div>
        </li>
        <li data-background="dummy/slide-1.jpg">
            <div class="container">
                <div class="slide-caption col-md-4">
                    <h2 class="slide-title">About Zanzibar</h2>
                    <p>Zanzibar is the one of the most famous, peaceful and a popular destination in the world since has a long history of being a tri=adding hub in East and central Africa. It is 3hours ahead of Greenwich Mean Time (GMT).</p>
                </div>
            </div>
        </li>
        <li data-background="dummy/slide-3.jpg">
            <div class="container">
                <div class="slide-caption col-md-4">
                    <h2 class="slide-title">About Zanzibar</h2>
                    <p>It is an autonomous part of united republic of Tanzania and has a legislature, Cabinet, Judiciary and President with s government of Zanzibar which has full mandate to watch over all internal affairs issues.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="flexslider-controls">
        <div class="container">
            <ol class="flex-control-nav">
                <li><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
            </ol>
        </div>
    </div>
</div>

@*<div class="fullwidth-block features-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature left-icon wow fadeInLeft" data-wow-delay=".3s">
                        <i class="icon-ticket"></i>
                        <h3 class="feature-title">Class aptent taciti</h3>
                        <p>Laborum expedita fugiat et quas quia! Odio dignissimos beatae aspernatur in vero culpa excepturi consequatur!</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature left-icon wow fadeInLeft">
                        <i class="icon-plane"></i>
                        <h3 class="feature-title">Class aptent taciti</h3>
                        <p>Lectetur recusandae quasi repellendus accusamus ipsa sed quibusdam officia aspernatur natus itaque, asperiores impedit numquam dolorum.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature left-icon wow fadeInRight">
                        <i class="icon-jetski"></i>
                        <h3 class="feature-title">Class aptent taciti</h3>
                        <p>L culpa ex dolorum ipsa, maxime soluta repudiandae officia corrupti. Doloribus iste voluptatibus nostrum?</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature left-icon wow fadeInRight" data-wow-delay=".3s">
                        <i class="icon-shuttelcock"></i>
                        <h3 class="feature-title">Class aptent taciti</h3>
                        <p>Lam sit, facere dicta libero ipsa. Repellat deleniti dignissimos, excepturi minima voluptatibus mollitia adipisci iusto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="fullwidth-block offers-section" data-bg-color="#f1f1f1">
    <div class="container">
        <h2 class="section-title">The newest holiday offers</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="offer wow bounceIn">
                    <figure class="featured-image"><img src="~/images/zanz1.png" alt=""></figure>
                    <h2 class="entry-title"><a href="">SAFARI BLUE DAY (Truth relaxation day)</a></h2>
                    <p>Arguably one of the best Zanzibar’s best excursions, allow yourself to sail away across the soothing waves of the Indian ocean on a beautifully carved Swahili dhow. Snorkeling to one of the archipelago’s most splendid deserted island for a wonderfully fresh seafood grill and then finally to a lagoon.</p>
                    <a href="#" class="button">See details</a>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="offer wow bounceIn" data-wow-delay=".2s">
                    <figure class="featured-image"><img src="~/images/zanz2.png" alt=""></figure>
                    <h2 class="entry-title"><a href="">SPICE TPLANTATION TOUR</a></h2>
                    <p>Walking tour in farms or plantation to witness the green scenery and rich of spices, a local guide will pluck bunches of leaves from various bushes and ask guests to guess what they are. Most of the spices found in the average kitchen spice rack black pepper, chills, cinnamon, cloves, coconut, garlic, ginger, lemongrass, nutmeg, saffron, turmeric and vanilla. Also, clients get a moment to taste coconut and other tropical seasonal fruits.</p>
                    <a href="#" class="button">See details</a>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="offer wow bounceIn" data-wow-delay=".4s">
                    <figure class="featured-image"><img src="~/images/zanz5.png" alt=""></figure>
                    <h2 class="entry-title"><a href="">JOZANI FOREST </a></h2>
                    <p>Jozani forest is the natural reserved national park which is found in the southern province of Unguja island, it’s a home of many endemic species of flora and fauna. The most attraction fauna species include a beautiful and rate primate red Columbus monkey, the reserve also has a large mangrove swamp and a track of natural forest which is a home of amazing species.</p>
                    <a href="#" class="button">See details</a>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="offer wow bounceIn" data-wow-delay=".6s">
                    <figure class="featured-image"><img src="~/images/zanz4.png" alt=""></figure>
                    <h2 class="entry-title"><a href="">ZANZIBAR STON TOWN </a></h2>
                    <p>A UNESCO World Heritage Site is rich in history, a town blended with African, Arab, Indian, Persian, and European cultures, following narrow streets shaded by elegant balconies and verandahs. Seeing the former slave market, the Sultan Palace, and a series of beautifully-carved wooden doors, with a 30-minute shopping break to browse for some of Zanzibar’s most distinctive souvenirs. A half-day tour with an experienced guide to lead the way will be the best option to explore its attractions.</p>
                    <a href="#" class="button">See details</a>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="fullwidth-block testimonial-section">
    <div class="container">
        <h2 class="section-title">Testimonials</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="testimonial wow fadeInUp">
                    <figure class="avatar"><img src="~/dummy/person-1.jpg" alt=""></figure>
                    <blockquote class="testimonial-body">
                        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                        <cite>Jessica Tracy</cite>
                        <span>Creative agency CEO</span>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="testimonial wow fadeInUp" data-wow-delay=".2s">
                    <figure class="avatar"><img src="~/dummy/person-2.jpg" alt=""></figure>
                    <blockquote class="testimonial-body">
                        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                        <cite>John Smith</cite>
                        <span>Traveler</span>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="testimonial wow fadeInUp" data-wow-delay=".4s">
                    <figure class="avatar"><img src="~/dummy/person-3.jpg" alt=""></figure>
                    <blockquote class="testimonial-body">
                        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                        <cite>Susan Webb</cite>
                        <span>Hairdresser</span>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="testimonial wow fadeInUp" data-wow-delay=".6s">
                    <figure class="avatar"><img src="~/dummy/person-4.jpg" alt=""></figure>
                    <blockquote class="testimonial-body">
                        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                        <cite>Sarah Brown</cite>
                        <span>Athlete</span>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>




