@{
    ViewBag.title = "Products";
}


<!-- START PAGE META -->
<div id="page-meta" class="container" dir="rtl" lang="ar">

    <!-- BREDCRUMB -->
    <div dir="rtl" lang="ar">
        <p id="yit-breadcrumb" itemprop="breadcrumb">
            <a class="home" asp-controller="Home" asp-action="Index">الرئيسية</a> &gt;
            <a class="no-link current" asp-controller="Home" asp-action="Products">منتجاتنا</a>
        </p>
    </div>

</div>
<!-- END PAGE META -->
        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no" dir="rtl" lang="ar">
            <div class="container group" dir="rtl" lang="ar">
                <div class="row" dir="rtl" lang="ar">
                    <!-- START CONTENT -->
                    <div id="content-page" class="span12 content group" dir="rtl" lang="ar">
                        <div class="page type-page status-publish hentry group" dir="rtl" lang="ar">

                            <script>
                                jQuery(document).ready(function ($) {
                                    $('.sidebar').remove();

                                    if (!$('#primary').hasClass('sidebar-no')) {
                                        $('#primary').removeClass().addClass('sidebar-no');
                                        $('.content').removeClass('span9').addClass('span12');
                                    }

                                });
                            </script>

                            <div class="box arrow-box" style="font-size: 25px;direction: rtl;">
                                <b>
                                    كل المقاسات ابتداً من ٥مم حتى ١٠مم وبكل الاطوال من ١١٥مم حتى ٢٣٠مم
                                </b>
                            </div>

                            <div class="row" dir="rtl" lang="ar">
                                <ul id="portfolio" class="columns columns thumbnails" dir="rtl" lang="ar" style="position:center;">

                                    <li class="span4">
                                    </li>
                                    <li class="span4">
                                        <div class="picture_overlay" dir="rtl" lang="ar">
                                            <img width="200" height="150" src="~/images/slider/Product2.jpeg" class="attachment-thumb_portfolio_2cols" alt="001" />

                                            <div class="overlay" dir="rtl" lang="ar">
                                                <div dir="rtl" lang="ar">
                                                    <p>
                                                        <a href="~/images/slider/Product2.jpeg" rel="lightbox" class="ch-info-lightbox"><img src="~/images/icons/zoom.png" alt="Open Lightbox" /></a>
                                                        <a href="#">
                                                            <img src="~/images/icons/project.png" alt="" />
                                                        </a>
                                                    </p>


                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="first slide-1 work span4 first" dir="rtl" lang="ar">

                                        <div class="picture_overlay" dir="rtl" lang="ar">
                                            <img width="200" height="150" src="~/images/slider/Product1.jpeg" class="attachment-thumb_portfolio_2cols" alt="001" />

                                            <div class="overlay" dir="rtl" lang="ar">
                                                <div dir="rtl" lang="ar">
                                                    <p>
                                                        <a href="~/images/slider/Product1.jpeg" rel="lightbox" class="ch-info-lightbox"><img src="~/images/icons/zoom.png" alt="Open Lightbox" /></a>
                                                        <a href="#">
                                                            <img src="~/images/icons/project.png" alt="" />
                                                        </a>
                                                    </p>
                                                    <p class="title">المصاصة الورقية</p>

                                                </div>
                                            </div>
                                        </div>


                                        @*<h4><a href="#">المصاصة الورقية</a></h4>*@

                                        @*<p>المصاصة الورقية قابله للتحلل البيولوجي، وتصنع من الورق المعاد تدويره والقائم على الالياف لقش الورق. مما يمكن صناعة الأغذية من تزويد المستهلكين ببديل المصاصة البلاستيكية. ستمكن المواد الورقية الصناع الرئيسين في صناع الأغذية مثل سلاسل الوجبات السريعة والمقاهي من اظهار مستوى عالٍ من التزامهم بحامية البيئة يشكل أفضل.</p>*@

                                        @*<a class="read-more" href="#">المزيد ..</a>*@
                                    </li>




                                </ul>
                                <div class="general-pagination group">
                                    <a href="#" class="selected">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">&rsaquo;</a>
                                    <a href="#">&raquo;</a>
                                </div>
                            </div>

                        </div>
                        <!-- START COMMENTS -->
                        @*<div id="comments">
                            </div>*@
                        <!-- END COMMENTS -->
                    </div>
                    <!-- END CONTENT -->
                    <!-- START EXTRA CONTENT -->
                    <!-- END EXTRA CONTENT -->
                </div>
            </div>
        </div>
        <!-- END PRIMARY -->
