 <!-- START FOOTER -->
<div id="footer" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            <div>
                <div class="widget-first widget span3 recent-posts">
                </div>

                <div class="widget span3 widget_flickrRSS">
                </div>

                <div class="widget span3 contact-info">
                    <h3>تواصل معنا</h3>
                    <div class="sidebar-nav">
                        <ul>
                            <li>
                                <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                &nbsp;
                                <span>الصفا 46414 - ينبع</span> 
                            </li>
                            <li>
                                <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                &nbsp;
                                <span>الهاتف</span>  966553507823+|966503172526+
                            </li>
                            @*<li>
                                <i class="icon-print" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                &nbsp;
                                <span>الفاكس</span>  555555555 966+
                            </li>*@
                        <li>
                            <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                            &nbsp;
                            <span>البريد الإلكتروني</span> Info@greenfactorysa.com
                        </li>
                        </ul>
                    </div>
                </div>
                <div id="last-tweets-2" class=" widget span3 last-tweets">
                    <h3>يمكنكم التواصل معنا في اي وقت</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->
<!-- START COPYRIGHT -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="left span6">
                <p>
                    All Rights Reserved - Green Factory © @DateTime.Now.Year
                    - Developed by
                    <a href="#" title="free themes wordpress">
                        <strong style="color: #efe9c0;">MUSSAB Ahmed</strong>
                    </a>
                </p>
            </div>

            <div class="right span6">
                <a href="#">
                    <strong style="color: #efe9c0;">
                        المصنع الأخضر للمنتجات الورقية
                    </strong>
                    
                </a>
            </div>

        </div>
    </div>
</div>
<!-- END COPYRIGHT -->