
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link rel="icon" href="~/images/logo02.jpg">

    @* New CSS Style *@
    <meta charset="UTF-8" />
    <!-- this line will appear only if the website is visited with an iPad -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

    <title>Green Factory | Saudi Arabia.</title>

    @* Client Side Validation *@
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @* ------------------------- *@

    <!-- RESET STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="~/css/reset.css" />
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="~/css/bootstrap.css" />
    <!-- MAIN THEME STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="~/style.css" />

    <link rel="stylesheet" id="custom-css" href="~/css/custom.css" type="text/css" media="all" />
    <link rel="stylesheet" id="google-fonts-css" href="https://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed:300,400,800%3A300%7CRokkitt%7CShadows+Into+Light%7CMaven+Pro:400,700%7CAbel%7CMontez" type="text/css" media="all" />
    <link rel="stylesheet" id="responsive-css" href="~/css/responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" id="thickbox-css" href="~/js/thickbox/thickbox.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tipsy-css" href="~/css/tipsy.css" type="text/css" media="all" />

    <link rel="stylesheet" id="fonts-css" href="~/css/font-awesome.css" type="text/css" media="all" />
    <link rel="stylesheet" id="full-descriptor-css" href="~/portfolios/full-description/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="slide-details-css" href="~/portfolios/slide-detail/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="shortcode-css" href="~/css/shortcodes.css" type="text/css" media="all" />

    <link rel="stylesheet" id="colorbox-css" href="~/css/colorbox.css" type="text/css" media="all" />
    <link rel="stylesheet" id="custom-button-mfast-3-css" href="~/css/buttons/mfast-3.css" type="text/css" media="all" />
    <link rel="stylesheet" id="flexslider-css" href="~/sliders/flexslider/css/flexslider.css" type="text/css" media="all" />
    <link rel="stylesheet" id="flexslider-elegant-css" href="~/sliders/flexslider-elegant/css/slider.css" type="text/css" media="all" />
    <link rel="stylesheet" id="rs-css" href="~/sliders/revolution-slider/css/slider.css" type="text/css" media="all" />
    <link rel="stylesheet" id="rs-settings-css" href="~/sliders/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="all" />
    <link rel="stylesheet" id="rs-captions-css" href="~/sliders/revolution-slider/rs-plugin/css/captions.css" type="text/css" media="all" />

    <link rel='stylesheet' id="flexi-slider-css" href="~/css/contact_form.css" type="text/css" media="all" />

    <link href="~/sliders/flexslider/css/flexslider.css" rel="stylesheet" />
    <link href="~/sliders/flexslider/css/slider.css" rel="stylesheet" />
    <!-- [favicon] begin -->
    @* Tab Icon Logo *@
    @*<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="~/favicon.ico" />*@

    <!-- [favicon] end -->
    <!-- Touch icons more info: http://mathiasbynens.be/notes/touch-icons -->
    <!-- For iPad3 with retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/apple-touch-icon-144x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/apple-touch-icon-114x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/apple-touch-icon-72x.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="~/apple-touch-icon-57x.png" />

    <script type="text/javascript" src="~/js/jquery/jquery.js"></script>


    @* End New Style *@

    @* Client Side Validation *@
    @*<script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
    @* ------------------------- *@


</head>
