@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@*<h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>*@

<!-- START PRIMARY -->
<div id="primary" class="sidebar-no" dir="rtl" lang="ar">
    <div class="container group" dir="rtl" lang="ar">
        <div class="row" dir="rtl" lang="ar">
            <!-- START CONTENT -->
            <div id="content-page" class="span12 content group" dir="rtl" lang="ar">
                <div class="page type-page status-publish hentry group" dir="rtl" lang="ar">
                    <div class="box error-box" style="font-size: 25px;direction: rtl;">
                        <b>
                             نعتذر، يوجد خطأ حاليا يرجى المحاولة في وقت اخر
                        </b>
                    </div>

                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }
                </div>                
            </div>
            <!-- END CONTENT -->
            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->
        </div>
    </div>
</div>
<!-- END PRIMARY -->



